.App-header {
  background-color: #282c34;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#left-col {
  height: 100%;
  float: left;
  width: 50%;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

#right-col {
  width: 50%;
  height: 100%;
  float: right;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.update-info {
  width: 50%;
}

.refresh-btn {
  float: right;
  margin-right: 20px;
}