.App-header {
  background-color: #663300;
  font-size: calc(15px + 2vmin);
  color: white;
  border-radius: 20px;
  padding: 5px 0 5px 0;
  margin: 5px 15px 0 5px;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}
.list-title {
  padding: 10px 0 0 20px;
  display: inline-block;
}

#left-col {
  min-height: 1000px;
  float: left;
  width: 50%;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 8px 0 0 5px;
  border-radius: 20px;
}

#right-col {
  margin: 8px 0 0 5px;
  border-radius: 20px;
  width: calc(49% - 5px);
  min-height: 1000px;
  float: left;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.update-info {
  font-size: calc(5px + 2vmin);
}

.refresh-btn {
  float: right;
  margin: 10px 20px 0 0;
}

h2 {
  padding-left: 20px;
}