.selected-name {
    padding-top: 15px;
    text-align: center;
    display: block;
    font-size: calc(20px + 2vmin);
}

.beast-info {
    padding-left: 20px;
}

.abilities-list {
    list-style-type: none;
}

.img-container {
    text-align: center;
}

.ability {
    
    height: 40px;
    padding-left: 44px;
    padding-top: 3px;
}

.hidden {
    filter: invert(100%);
    vertical-align: middle;
}